/* Variables */
:root {
  /*
    Using variables for these two trivial colors, just in case we decide to tune them a bit

    WARNING: It's not possibile to use CSS custom properties on pseudo-elements with Edge until
    October 17h 2017. So the `ul.wizard-steps` widget and the custom checkbox don't use them.
    See: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
  */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-dark:  #848484;
  --color-gray:       #dddddd;
  --color-gray-light: #f9f9f9;

  --color-primary: #009cde;
  --color-danger:  #f5391e;

  --color-link: var(--color-primary);

  --border-radius-md: 4px;
  --border-radius-sm: 3px;
  --border-radius-xs: 2px;

  --spatial-rhythm-xl: 4em;
  --spatial-rhythm-lg: 2em;
  --spatial-rhythm-md: 1em;
  --spatial-rhythm-sm: 0.5em;
  --spatial-rhythm-xs: 0.25em;
}

/* Base */
body {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

button,
label {
  cursor: pointer;
}

/* Cards */
.card {
  background-color: var(--color-white);
  box-shadow: 0 3px 1px -1px rgba(100, 100, 100, 0.4),
              -2px 0 1px -1px rgba(100, 100, 100, 0.2),
              2px 0 1px -1px rgba(100, 100, 100, 0.2);
  padding: 1.125em 1.25em;
}

/* Footer */
footer {
  background-color: var(--color-gray);
}
