/* Variables */
:root {
  /* Using variables for these two trivial colors, just in case we decide to tune them a bit */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-dark:  #848484;
  --color-gray:       #dddddd;
  --color-gray-light: #f9f9f9;

  --color-primary: #009cde;

  --color-link: var(--color-primary);
}

/* Base */
body {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

/* Typography */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Lists */
ul.list-unstyled {
  list-style-type: none;
  padding: 0;
}

/* Buttons */
button[type="reset"] {
  color: var(--color-gray-dark);
}

.btn {
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: -1px 0 rgba(100, 100, 100, 0.2),
              1px 0 rgba(100, 100, 100, 0.2),
              0 1px 1px rgba(100, 100, 100, 0.4);
  padding: 0.5em 1.125em;
  line-height: 1;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.btn-link {
  background-color: transparent;
  color: var(--color-link);
  box-shadow: none;
  padding: 0;
}

/* Utilities */
.text-align-center {
  text-align: center;
}

/* https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

